.result:hover {
    transform: scale(1.1);
}

.result {
    background-color: #00b63e;
    width: 100%;
    max-width: 420px;
    padding: 20px 28px;
    border-radius: 4px;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 24px 0;
    transition: transform 0.8s;
}

.result-title {
    font-weight: bold;
    font-size: 24px;
    color: #FFF;
    margin-bottom: 16px;
}

.result span {
    color: #FFF;
    margin-bottom: 8px;
    font-size: 18px;
}